<main class="contenedor">
    {{#if error}}
    <div class="error alerta">{{error}}</div>
    {{/if}}
    <form action="/crear-cuenta" method="POST" class="default-form">
        <div class="campo">
            <label for="">Nombre</label>
            {{#if datos}}
                <input type="text" name="nombre" placeholder="Tu Nombre" value="{{datos.nombre}}">
            {{else}}
                <input type="text" name="nombre" placeholder="Tu Nombre">
            {{/if}}
        </div>
        <div class="campo">
            <label for="">E-mail</label>
            {{#if datos}}
                <input type="email" name="email" placeholder="Tu E-mail" value="{{datos.email}}">
            {{else}}
                <input type="email" name="email" placeholder="Tu E-mail">
            {{/if}}
            
        </div>
        <div class="campo">
            <label for="">Password</label>
            <input type="password" name="password" placeholder="Tu Password">
        </div>
        <div class="campo">
            <label for="">Repetir Password</label>
            <input type="password" name="confirmar" placeholder="Repetir Password">
        </div>
        <div class="campo acciones">
            <a href="/iniciar-sesion">Volver a Iniciar Sesión</a>
        </div>
        <div class="campo">
            <input type="submit" value="Crear Cuenta" class="btn btn-azul">
        </div>
    </form>
</main>